<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- use Spring default values -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
 
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
<!--     	<withJansi>true</withJansi> -->
		<encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    
    <!-- Integrazione con Bugsnag -->
<!--     <appender name="BUGSNAG" class="com.bugsnag.BugsnagAppender"> -->
<!-- 	    <apiKey>7e308575bf15b28ea4fa61520b409079</apiKey> -->
<!-- 	    <appType>spring</appType> -->
<!-- 	    <appVersion>0.0.1-alpha</appVersion> -->
<!-- 	    <releaseStage>development</releaseStage> -->
<!-- 	</appender> -->

<!-- 	<root level="INFO"> -->
<!-- 	    <appender-ref ref="BUGSNAG"/> -->
<!-- 	</root> -->
     
    <!-- LOG everything at INFO level -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    
</configuration>